{% extends 'base/base.html' %}
{% block title %}add meal  {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<aside class="meal-sidebar">
    <div class="meal-item">
        <form method="post">
            {% csrf_token %}
            <div class="meal">
                <label for="id_name">Name</label>
                {{ form.name }}
            </div>

            <div class="meal">
                <label for="id_date">Enter date</label>
                {{ form.date }}
            </div>

            <div class="meal">
                <label for="id_time">Time eaten</label>
                {{ form.time }}
            </div>

            <div class="meal">
                <label for="id_foods">Foods</label>
                {{ form.foods }}
            </div>
                        

            <button type="submit" > save </button>

        </form>

    </div>

</aside>



{% endblock %}