{% extends 'base/base.html' %}
{% block title %}add meal  {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="meal-add-search">


    <aside class="meal-sidebar">
        <div class="meal-item">
            <form method="post">
                {% csrf_token %}
                <div class="meal">
                    <label for="id_name">Name</label>
                    {{ form.name }}
                </div>

                <div class="meal">
                    <label for="id_food">Food item</label>
                    {{ form.food }}
                </div>

                <div class="meal">
                    <label for="id_quantity">quantity eaten in grams</label>
                    {{ form.quantity }}

                </div>    
                <button type="submit" > save </button>

            </form>

        </div>

    </aside>

    <div class="list-group1">
         <form method="get" action="{% url 'add_meal' %}" class="mb-3">
            <div class="input-group">
                <input type="text" name="search" placeholder="Search..." value="{{ request.GET.search }}" class="form-control">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>

        <ul class="list-group">
            {% for food in foods %}
            <div class="food-box">

                <p>{{ food.name }} - {{ food.calories_per_100g }} cal/100g</p>
                <a href="{% url 'add_meal' %}?food_id={{ food.id }}" class="btn btn-success">
                    Log meal
                </a>
            </div>
                   
            {% empty %}
                <li class="list-group-item text-muted">No foods in the database yet.</li>
            {% endfor %}
        </ul>

    </div>

    



</div>


{% endblock %}