{% extends 'base/base.html' %}
{% block title %}add meal  {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<aside class="meal-sidebar">
    <div class="meal-item">
        <form method="post">
            {% csrf_token %}
            <div class="meal">
                <label for="id_name">Name</label>
                {{ form.name }}
            </div>

            <div class="meal">
                <label for="id_food">Food item</label>
                {{ form.food }}
            </div>

              <div class="meal">
                <label for="id_quantity">quantity eaten</label>
                {{ form.quantity }}

            </div>
              <div class="meal">
                <label for="id_calories_per_100g">calories per 100g</label>
                {{ form.calories_per_100g }}
            </div>
            <button type="submit" > save </button>

        </form>

    </div>

</aside>



{% endblock %}