.post {
    display: grid;
    justify-content: left;
    align-items: center;
    margin: 2rem;
    width: 100vh;
}
.blog{
    margin: 1.5rem ;
}
.post-blog{
    display: grid;
    width: 500px;
    margin: 2rem;
}

.post-blog input{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.post-blog textarea{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.post label {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.post input {
    border-radius: 3px;

}
.post content{
    border-radius: 3px;
}

.post button {
    margin-top: 2rem;
}

.post-content{
    margin: 1rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: 3s;
}
.post-content:hover{
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.3); 
}

.btn-success{
    background-color: #cea135;
    color: white;
    margin: 1rem;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    width: 70px;
}
.btn-danger{
    background-color: red;
    color: white;
    margin: 1rem;
    border-radius: 2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
}
