body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px;
    background-color: black;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header > .nav-links > .nav-link > a {
    color: azure;
    text-decoration: none;
}



