body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px;
    background-color: black;
}



.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header > .nav-links > .nav-link > a {
    color: azure;
    text-decoration: none;
}

.login {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background: whitesmoke;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);    
    transition: 3s;
}

.login:hover{
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);    


}
.login label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.login input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login input:hover{
    color: #cea135;
    border-color: #cea135;

}

.register{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: 3s;   
}
.register:hover{
    box-shadow: 0px 6px 15px rgba(0, 0, 0,3);    


}
.register label{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.register input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.post {
    display: grid;
    justify-content: left;
    align-items: center;
    margin: 2rem;
    width: 100vh;
}
.blog{
    margin: 1.5rem ;
}
.post-blog{
    display: grid;
    width: 500px;
    margin: 2rem;
}

.post-blog input{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.post-blog textarea{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.post label {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.post input {
    border-radius: 3px;

}
.post content{
    border-radius: 3px;
}

.post button {
    margin-top: 2rem;
}

.post-content{
    margin: 1rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: 3s;
}
.post-content:hover{
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.3); 
}

.btn-success{
    background-color: #cea135;
    color: white;
    margin: 1rem;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    width: 70px;
}
.btn-danger{
    background-color: red;
    color: white;
    margin: 1rem;
    border-radius: 2px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
}



.meal{
   padding: 1.5rem;

}

.meal-link{
    text-decoration: none;
    color: rgb(58, 120, 220);
    font-size: larger;
}



.sidebar {
    width: 220px;           
    background-color: rgb(170, 190, 190);
    color: white;
    padding: 1.5rem;
    height: 80vh;          
    box-sizing: border-box;
}

.sidebar p,
.sidebar h4 {
    margin-bottom: 1rem;
}

.sidebar a {
    display: block;         
    text-decoration: none;
    margin-bottom: 0.75rem;
}

.sidebar a:hover {
    opacity: 0.8;
}

.meal-content {
    text-align: center;
    margin-bottom: 1rem;
}

.meal-link {
    display: inline-block;
    margin-top: 0.5rem;
}
.meal-sidebar{
    width: 220px;           
    background-color: rgb(170, 190, 190);
    color: white;
    padding-right: 1.5rem;
    height: 80vh;          
    box-sizing: border-box;
}
.meal-list{
    display: grid;
    align-items: center;
    margin: 2rem;
    padding-bottom: 1.6rem;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 2s;
}
.list:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);

}
.list>p{
    font-weight: 700;
    font-size: larger;
}
