{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base/css/styles.css' %}">
    <title>{% block title %}eat smart{% endblock %}</title>

</head>
<body>

    <!-- Header / Navigation -->
    <header class="header">
        <nav class="nav-links">
            <div class="nav-link"><a href="{% url 'dashboard' %}">dashboard</a></div>

            
            <div class="nav-link"><a href="{% url 'blog-list' %}" title="go to your dashboard">community forum</a></div>
            <div class="nav-link"><a href="{% url 'blog-post' %}"> blog post </a></div>

            {% if user.is_authenticated %}
            <div class="nav-link"><a href="{% url 'user-profile' %}"> {{user.username}}'sprofile </a></div>
            {% else %}
            <div class="nav-link"><a href="{% url 'user-profile' %}"> user profile </a></div>
            {% endif %}


            {% if user.is_authenticated %}
            <div class="nav-link"><a href="{% url 'logout' %}" onclick="return confirm('are you sure you want to logout?')">logout</a></div>

            {% else %}
            <div class="nav-link"><a href="/login">login</a></div>
            {% endif %}
        </nav>
    </header>

    <!-- Main page content -->
    <main class="{% block main_class %}page-content{% endblock %}">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
