{% extends 'base/base.html' %} 
{% block title %}dashboard{% endblock %} 
{% block content %} 
<div class="content">

    <aside class="sidebar">
        <h4>add meal item </h4> 

        <div class="meal-content"> 
            <p> breakfast</p> <a href="{% url 'meal-list' 'breakfast' %}" class="meal-link"> {{breakfast_total}} </a>
        </div> 

        <div class="meal-content"> 
            <p> lunch </p> <a href="{% url 'meal-list' 'lunch' %}" class="meal-link"> {{lunch_total}} </a> 
        </div> 

        <div class="meal-content"> 
            <p> dinner </p> <a href="{% url 'meal-list' 'dinner' %}" class="meal-link"> {{dinner_total}} </a>
        </div>

        <div class="log-rep">
            <p>log exercise <a href="{% url 'log_exercise' %}" class="meal-link"> 0 </a></p>
        </div>

    </aside>
    
 </div>

  {% endblock %}