body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: black;
}

.header >.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}